@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {margin:0; padding:0; box-sizing:border-box;}
body {
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("./image/background.png") no-repeat center;
    background-size: cover;
}

body::before {
    content: "";
    position: absolute; z-index: 1;
    top: 0; right: 0; bottom: 0; left: 0;
    background: url("./image/background.png") no-repeat center;
    background-size: cover;
}

.login-form {position: relative; z-index:2;}
.login-form h1 {
    font-size: 24px; color: #ffffff;
    text-align: center;
    margin-bottom: 1px;
}
.int-area {
    width: 250px; 
    position: relative; 
 
    margin-top: 30px;
}
.int-area:first-child {margin-top: 50;}
.int-area input {
    width: 100%;
    height: 55px;
    padding: 10px 10px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    font-size: 18px; color:#ffffff;
    outline: none;
}
.int-area label {
    position: absolute; left: 10px; top: 15px;
    font-size: 15px; color:#ffffff;  
    transition: all .5s ease;
}
.int-area label.warning {
    color:red !important;
    animation: warning .3s ease;
    animation-iteration-count: 3;
}
@keyframes warning {
    0% {transform: translateX(-8px);}
    25% {transform: translateX(8px);}
    50% {transform: translateX(-8px);}
    75% {transform: translateX(8px);}
}

.int-area input:focus + label,
.int-area input:valid + label {
    top: -2px;
    font-size: 13px; color: #166cea;
}

.btn-area {margin-top: 30px;}
.btn-area button {
    width: 100%; height: 40px;
    background: #0ACF83;
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}

.caption {
    margin-top: 20px;
    text-align: center;
}
.caption a {
    font-size: 15px; color: #999;
    text-decoration: none;
}
